body{
    margin: 5px 20px;
    color: pink;
    background-color: #1f2935;
    
}
a{
    text-decoration: none;
    color: black;
}

ol{
    background-color: gainsboro;
    color:#455363
}
.row{
    background-color: gainsboro;
}
.details
{
   display: flex;
   color: #455363;
}

.date,.name{
    padding-left: 10px;
    padding-right: 10px;
}
h2{
    margin: 0;
}