<div class="card_post">
    <div class="info">
        <p href='/post' class="card_title">{{title}}</p>
        <p class="card_author">{{author}}</p>
        <p class="card_upvotes">{{upvotes}}</p>
    </div>
</div>