<div class="card">
    <h2 class="head"> {{title}} </h2>
    <h3 class="postAuthor"> {{author}}</h3>

    <div class="info">
        <p class="postContent"> {{content}} </p>
        <p class="date">
            {{date}}
        </p>
    </div>
</div>

    