<html>
    <head>

    </head>
    <body>
        {{#each post}}
            {{> card}}
        {{/each}}
        <form action="/{{#each post}}{{this._id}}{{/each}}/comment" method="post" id="content">
            Content: <br> <textarea name="content" rows="10" cols="30" class="mb-2"></textarea><br />
            
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        <text>Comments: </text>
        {{#each post}}
            {{#each this.comments}}
                {{> comment}}
            {{/each}}
        {{/each}}
    </body>
</html>