<html>
    <head>
        <meta http-equiv="refresh" content="3" >
        <link rel="stylesheet" href="Public/CSS/index.css">
    </head>
    <body>
        <div class="navbar">
            <a href="/">READit</a>
        </div>

        <div class="cardPosts">
            
        </div>
    </body>
</html>
