<html>
    <head>
        <meta http-equiv="refresh" content="3" >
        <link rel="stylesheet" href="Public/CSS/index.css">
    </head>
    <body>
        <div class="header">
            <form action="/" method="get">
                <input type="submit">
                    READit
                </input>
            </form>         
            <div class="navbar">

            </div>
            
        </div>

        <div class="content">
            
        </div>
    </body>
</html>
