<html>
    <head>
        <meta http-equiv="refresh" content="3" >
        <link rel="stylesheet" type="text/css" href="/CSS/index.css">
        <script type="text/javasript" src="/JS/index.js"></script>
    </head>
    <body>
        <div class="navbar">
            <a href="/">READit</a>
        </div>

        <div class="cardPosts">
            
        </div>
    </body>
</html>
